.c-input {
  label.c-input__label {
    text-transform: uppercase;
    color: $color-basic-500;
    font-size: 10px;
    font-weight: 700;
    padding: 0 8px;
  }

  &__input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid $color-basic-700;
    font-size: 14px;

    input {
      font-size: 14px;
    }
  }
}