@font-face {
  font-family: "SF Pro Text";
  src: url("/static/fonts/sf-pro-text-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/static/fonts/sf-pro-text-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/static/fonts/sf-pro-text-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}