.c-asset {
  width: 100%;
  background-color: $color-basic-200;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-transform: uppercase;
  cursor: pointer;

  &__logo {
    width: 32px;
    height: 32px;

    img {
      width: 100%;
    }
  }

  &__value {
    margin-left: 16px;

    .ce-amount {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    .ce-value {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $color-basic-600;
      margin-top: 4px;
    }
  }
}